* {
    box-sizing: border-box;
}

body {
    width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.row {
    display: flex;
    flex-direction: row;
}

.col {
    display: flex;
    flex-direction: column;
}

.gap-5 {
    gap: 5px;
}

.border-dark {
    border-color: black;
}

.solid-1 {
    border-width: 1px;
    border-style: solid;
}

.p-5 {
    padding: 5px;
}

.d-none {
    display: none;
}

.w-100 {
    width: 100%;
}

.m-0 {
    margin: 0px;
}

.loading {
    width: 10px;
    height: 10px;
    border: 2px dashed yellow;
    border-radius: 50%;
    animation: rotating 2s linear infinite;
}

@keyframes rotating {
    from{
        -webkit-transform: rotate(0deg);
    }
    to{
        -webkit-transform: rotate(360deg);
    }
}

.success::after {
    content: "✓";
    color: green;
}

.fail::after {
    content: "X";
    color: red;
}

.justify-start {
    justify-content: start;
}

.justify-center {
    justify-content: center;
}

.justify-stretch {
    justify-content: stretch;
}

.align-start {
    align-content: start;
}

.align-center {
    align-content: center;
}

.align-stretch {
    align-items: stretch;
}

.custom-button-style {
  appearance: none;
  backface-visibility: hidden;
  background-color: #27ae60;
  border-radius: 8px;
  border-style: none;
  box-shadow: rgba(39, 174, 96, .15) 0 4px 9px;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: Inter,-apple-system,system-ui,"Segoe UI",Helvetica,Arial,sans-serif;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: normal;
  line-height: 1.5;
  outline: none;
  overflow: hidden;
  padding: 5px 7px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transform: translate3d(0, 0, 0);
  transition: all .3s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: top;
  white-space: nowrap;
}

.custom-button-style:hover {
  background-color: #1e8449;
  opacity: 1;
  transform: translateY(0);
  transition-duration: .35s;
}

.custom-button-style:active {
  transform: translateY(2px);
  transition-duration: .35s;
}

.linkedin {
    background-color: rgb(10, 102, 194);
}
.linkedin:hover {
    background-color: rgb(6, 69, 132);
}

.indeed {
    background-color: rgb(0, 58, 155);
}
.indeed:hover {
    background-color: rgb(0, 29, 80);
}

.disabled {
    background-color: grey;
    cursor: not-allowed;
}
.disabled:hover {
    background-color: grey;
    transform: translateY(0px);
}
.disabled:active {
    background-color: grey;
    transform: translateY(0px);
}